body {
    background-color: LightSalmon;
    text-align: center;
    font-family: Helvetica;
}

#kontener header img {
    width: 100%;
}

#zawartosc {
    display: flex;
    flex-direction: row;
}

#lewa_kolumna {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#lewy_gora {
    height: 400px;
}

#lewy_dol {
    background-color: DarkSalmon;
    height: 100px;
}

#prawy {
    background-color: DarkSalmon;
    width: 70%;
    height: 500px;
    overflow: auto;
}

#filtr {
    font-style: italic;
    font-size: 200%;
    padding: 10px;
}

#filtr:hover {
    color: GhostWhite;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 20px auto;
    background-color: #e28366;
    border: 1px dotted Maroon;
}

td {
    border: 1px dotted Maroon;
    padding: 8px;
    text-align: center;
}

th {
    padding: 8px;
    text-align: center;
}
h4
{
    font-size:auto;
}